{% extends "pm/base.html" %}

{% block title %}Project Listing{% endblock title %}

{% block content-header %}Dashboard{% endblock content-header %}

{% block section_id %}index{% endblock section_id %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">Projects</h3>
                <div class="box-tools pull-right">
                    <!-- <button class="btn btn-primary btn-xs not-mine">Show not mine</button> -->
                    <!-- <button class="btn btn-primary btn-xs project-inactive">Show non-active</button> -->
                </div>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-hover" id="projects-table">
                    <thead>
                    <tr>
                        <th class='proj'>Project</th>
                        <th class='cust'>Customer</th>
                        <th class='pm'>Proj. Mgr.</th>
                        <th class='people'>People</th>
                        <th class='tasks'>Tasks <small>(completed/total)</small></th>
                        <th class='ntask'>Next Task</th>
                        <th class='end'>Est. End Date</th>
                        <th class='status'>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                    <tr class="{% if not project.project_manager.name = user %}not-mine {% endif %}{% if project.status != project.ACTIVE %}project-inactive {% endif %}">
                        <td><a href="{% url 'pm:project-detail' project.id %}"></a>{{ project.name }}</td>
                        <td>{{ project.requester.full_name }} ({{ project.requester.group.name }})</td>
                        <td>{{ project.project_manager.full_name }}</td>
                        <td>{% for worker in project.worker_set.all %}{% if worker.owner %}<span class="bold">{% endif %}{{ worker.person.full_name }}{% if worker.owner %}</span>{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        <td>{{ project.completed_tasks.count }} - {{ project.task_set.all.count }}</td>
                        <td{% if project.next_tasks.count = 0 %} data-order="zzzzzzzz"{% endif %}>{% if project.next_tasks.count == 1 %}{% for task in project.next_tasks %}{{ task.name }} ({{ task.due_date | default_if_none:"<span class='text-yellow'>No due date</span>" }}){% endfor %}{% elif project.next_tasks.count == 0 %}<i class="text-yellow">No upcoming tasks defined</i>{% else %}<ol>{% for task in project.next_tasks %}<li>{{ task.name }} ({{ task.due_date }})</li>{% endfor %}</ol>{% endif %}</td>
                        <td data-order="{{ project.est_completion_date | date:"U" | default_if_none:"" }}">{{ project.est_completion_date }}</td>
                        <td><small class="badge {% if project.status = project.ACTIVE %}bg-green{% elif project.status = project.COMPLETED %}bg-blue{% elif project.status = project.ON_HOLD %}{% else %}bg-yellow{% endif %}">{{ project.get_status_display }}</small></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">People</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>Individual</th>
                        <th>Project/Lead count</th>
                        <th>Total Tasks/due within 2 wks.</th>
                    </tr>
                    {% for person in peoples %}
                    <tr>
                        <td><a href="{% url 'pm:person-detail' person.id %}"></a>{{ person.full_name }}</td>
                        <td>{% if person.worker_set.count > 3 %}<span class="text-{% if person.worker_set.count > 5 %}red{% else %}yellow{% endif %}">{% endif %}{{ person.worker_set.count }}{% if person.worker_set.count > 3 %}</span>{% endif %} - {% if person.lead_count > 1 %}<span class="text-{% if person.lead_count > 2 %}red{% else %}yellow{% endif %}">{% endif %}{{ person.lead_count }}{% if person.lead_count > 1 %}</span>{% endif %}</td>
                        <td>{% if person.task_count > 7 %}<span class="text-{% if person.task_count > 11 %}red{% else %}yellow{% endif %}">{% endif %}{{ person.task_count }}{% if person.task_count > 8 %}</span>{% endif %} - {% if person.two_wk_task_count > 4 %}<span class="text-{% if person.two_wk_task_count > 6 %}red{% else %}yellow{% endif %}">{% endif %}{{ person.two_wk_task_count }}{% if person.two_wk_task_count > 4 %}</span>{% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Stats</h3>
            </div>
            <div class="box-body">
                <dt>We</dt>
                    <dl>are awesome</dl>
                <dt>If useful</dt>
                    <dl>we can show interesting stats on our own task completion rates and such</dl>
                <dt>Eventually</dt>
                    <dl>we can connect to Sharepoint and show Triage stats</dl>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_js %}
$("tr").has("a").click(function() {
    window.location = $(this).find('a').attr('href');
}).hover(function() {
    $(this).toggleClass('hover');
});

$(document).ready( function () {
    $('#projects-table').DataTable();
} );
{% endblock custom_js %}
