{% extends "pm/base.html" %}
{% load crispy_forms_tags %}

{% block title %}New Project{% endblock %}

{% block content-header %}Create New Project{% endblock %}

{% block content %}
{% crispy form %}
{% endblock %}

{% block custom_js %}
$('.datemask input')
// date masking
    .inputmask('yyyy-mm-dd', {"placeholder": "yyyy-mm-dd"})
// add calendar icon
    .wrap('<div class="input-group"></div>')
    .before('<div class="input-group-addon"><i class="fa fa-calendar"></i></div>');
// make workers field pretty
$('#id_workers').select2({
    minimumInputLength: 2,
});
$('#hint_id_workers').remove();
{% endblock %}