tr.project-inactive { display: none; }
tr.not-mine { display: none; }

.bold { font-weight: bold; }

/* remove "hold down control" message that crispy_forms automatically generates */
#create-task .controls p.help-block { display: none; }

/* show mouse when hovering table rows */
.hover { cursor: pointer; }

/* hide edit and verify buttons on task page */
#project-detail ol { padding-left: 15px; margin: 0px; }
#project-detail table td.center,
#project-detail table th.center { text-align: center; }

#project-detail table td.vcenter,
#project-detail table th.vcenter { vertical-align: middle; }

#project-detail .new-task { display: none; }

#project-detail .new-task .alert-success,
#project-detail .new-task .alert-danger,
#project-detail .tasks .alert-success,
#project-detail .tasks .alert-danger,
#project-detail .task-list .edit,
#project-detail .task-list .controls,
#project-detail .task-list input,
#project-detail .task-list textarea,
#project-detail .task-list select { display: none; }