{% extends "pm/base.html" %}

{% block title %}Project Listing{% endblock title %}

{% block content-header %}Dashboard{% endblock content-header %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>People</th>
                    <th>Tasks <small>(completed/total)</small></th>
                    <th>Est. End Date</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{% for worker in project.worker_set.all %}{{ worker.person.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    <td>{{ project.completed_tasks.count }} / {{ project.task_set.all.count }}</td>
                    <td>{{ project.est_completion_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}