{% extends "pm/base.html" %}

{% block title %}Project Detail - {{ project.name }}{% endblock title %}

{% block content-header %}Project Detail - <b>{{ project.name }}</b>{% endblock content-header %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="box box-solid">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Description</h3>
            </div>
            <div class="box-body">{{ project.description }}</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-solid">
            <div class="box-header">
                <i class="fa fa-list-ul"></i>
                <h3 class="box-title">Project Details</h3>
            </div>
            <div class="box-body">
                <table class="table table-condensed">
                    <tr>
                        <td>ID:</td>
                        <td>{{ project.id | stringformat:"04d" }}</td>
                    </tr>
                    <tr>
                        <td>Requester:</td>
                        <td>{{ project.requester.name }}</td>
                    </tr>
                    <tr>
                        <td>Assigned to:</td>
                        <td>{% for worker in project.worker_set.all %}{% if worker.owner %}<span class="text-light-blue">{% endif %}{{ worker.person.name }}{% if worker.owner %}</span>{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                    <tr>
                        <td>Start Date:</td>
                        <td>{{ project.start_date }}</td>
                    </tr>
                    <tr>
                        <td>Due Date:</td>
                        <td>{{ project.due_date }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header">
                <i class="fa fa-tasks"></i>
                <h3 class="box-title">Tasks</h3>
            </div>
            <div class="box-body">
                <table class="table">
                    <tr>
                        <th class="center vcenter" width="10%">Name</th>
                        <th class="center vcenter">Description</th>
                        <th class="center vcenter" width="10%">Start Date</th>
                        <th class="center vcenter" width="10%">Due Date</th>
                        <th class="center vcenter" width="10%">Completed Date</th>
                        <th class="center vcenter" width="10%">Assigned To</th>
                    </tr>
                    {% for task in project.task_set.all %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td class="center">{{ task.start_date }}</td>
                        <td class="center">{{ task.due_date }}</td>
                        <td class="center">{{ task.date_completed }}</td>
                        <td>{% for taskworker in task.taskworker_set.all %}{{ taskworker.worker.person.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}