{% extends "pm/base.html" %}

{% block title %}Project Listing{% endblock title %}

{% block content %}
			<div class="row">
				<div class="col-md-3">
					<table class="table table-hover">
						<tbody>
							<tr><td class="info" data-toggle="modal" data-target="#newProj"><h4><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Project</h4></td></tr>
							{% for project in projects %}
							<tr><td class="project-name" data-id="{{ project.id }}"><h4>{{ project.name }}</h4></td></tr>
							{% endfor %}
						</tbody>
					</table>

                    <!-- New Project modal dialog box -->
					<div id="newProj" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newProjLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form action="" method="post" id="create-project">
									{% csrf_token %}

									<div class="modal-header">
										<h4 class="modal-title" id="newProjLabel">Add New Project</h4>
									</div>

									<table class="table">
									{{ proj_form.as_table }}
									</table>

									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-primary">Save changes</button>
									</div>
								</form>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				</div>

				<div class="col-md-9">
				{% for project in projects %}
				<div class="project-info" id="project-info-{{ project.id }}">
					<div class="row" id="{{ project.id }}">
						<div class="col-md-6 project-name"><h2>{{ project.name }}</h2></div>
						<div class="col-md-6">
							<table class="table table-condensed">
								<tr>
									<td>Requester:</td>
									<td>{{ project.requester }}</td>
								</tr>
								<tr>
									<td>Start Date:</td>
									<td>{{ project.start_date }}</td>
								</tr>
								<tr>
									<td>Due Date:</td>
									<td>{{ project.due_date }}</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 project-description">
							<p class="lead">{{ project.description }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 workers">
						{% for worker in project.worker_set.all %}
							<a href="#" class="btn btn-{% if worker.owner %}primary{% else %}default{% endif %}">{{ worker.person.name }}{% if worker.percent_committed <= 100 and worker.percent_committed >= 0 %} ({{ worker.percent_committed }}){% endif %}</a>
						{% endfor %}
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-12 tasks">
                            <table class="table">
                                <thead>
                                    <tr><th>Name</th><th>Description</th><th>Start Date</th><th>Due Date</th><th>Completed Date</th><th>Assigned To</th></tr>
                                </thead>
                            {% for task in project.task_set.all %}
                                <tbody>
                                    <tr>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.description }}</td>
                                        <td>{{ task.start_date }}</td>
                                        <td>{{ task.due_date }}</td>
                                        <td>{{ task.date_completed }}</td>
                                        <td>{% for taskworker in task.taskworker_set.all %}<a href="#" class="btn btn-default">{{ taskworker.worker.person.name }}</a>{% endfor %}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
				</div>
				{% endfor %}

			</div>
		</div>
{% endblock content %}