<table class="table task-list">
    <tr>
        <th></th>
        <th class="center vcenter" width="10%">Name</th>
        <th class="center vcenter">Description</th>
        <th class="center vcenter" width="10%">Start Date</th>
        <th class="center vcenter" width="10%">Due Date</th>
        <th class="center vcenter" width="10%">Completed Date</th>
        <th class="center vcenter" width="10%">Assigned To...</th>
        <th class="center vcenter" width="10%">Blocked by...</th>
    </tr>
    {% for task in project.task_set.all %}
    <tr class="task task-{{ task.pk }}">
        <td class="status center vcenter">
            <small class="badge {% if task.status = 'Active' %}bg-green active{% elif task.status = 'Complete' %}bg-blue complete{% else %}bg-yellow waiting{% endif %}">{{ task.status | linebreaksbr }}</small>
            <span class="edit"><button type="button" class="btn btn-sm btn-default"><i class="fa fa-pencil"></i></button></span>
            <span class="controls">
                <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-default bg-green submit"><i class="fa fa-check"></i></button>
                    <button type="button" class="btn btn-xs btn-default bg-red cancel"><i class="fa fa-times"></i></button>
                </div>
            </span>
            <input type="hidden" name="pk" value="{{ task.pk }}">
            <input type="hidden" name="project" value="{{ task.project.pk }}">
            <input type="hidden" name="status" value="{{ task.status }}">
        </td>

        <td>
            <span class="txt">{{ task.name }}</span>
            <input type="text" name="name" value="{{ task.name }}">
        </td>
        <td>
            <span class="txt">{{ task.description | linebreaksbr }}</span>
            <textarea name="description" cols=50 rows=2>{{ task.description }}</textarea>
        </td>
        <td class="center datepicker">
            <span class="txt{% if task.start_date = None %} text-yellow{% endif %}">{{ task.start_date | default_if_none:'No date set' }}</span>
            <input type="text" name="start_date" value="{{ task.start_date | date:'m-d-Y' }}" size="11">
        </td>
        <td class="center datepicker">
            <span class="txt{% if task.due_date = None %} text-yellow{% endif %}">{{ task.due_date | default_if_none:'No date set' }}</span>
            <input type="text" name="due_date" value="{{ task.due_date | date:'m-d-Y' }}" size="11"><br class="input-help">
            <input class="checkboxinput checkbox" id="id_status_on_hold" name="status_on_hold" type="checkbox"{% if task.status_on_hold %} checked="checked"{% endif %}><span class="input-help"> On hold<br></span>
            <input class="checkboxinput checkbox" id="id_status_waiting" name="status_waiting" type="checkbox"{% if task.status_waiting %} checked="checked"{% endif %}><span class="input-help"> Waiting...</span>
        </td>
        <td class="center datepicker">
            <span class="txt">{{ task.date_complete | default_if_none:'' }}</span>
            <input type="text" name="date_complete" value="{{ task.date_complete | date:'m-d-Y' }}" size="11">
        </td>
        <td>
            <span class="txt">{% for taskworker in task.taskworker_set.all %}{{ taskworker.worker.person.full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
            <select multiple="multiple" name="worker" size="3">
                {% for worker in task.project.worker_set.all %}<option value="{{ worker.person.pk }}">{{ worker.person.full_name }}</option>{% endfor %}
            </select>
        </td>
        <td>
            <span class="txt">{% for t in task.blocked_task.all %}{{ t.blocking_task.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
            <select multiple="multiple" name="blocked_by" size="3">
                {% for t in task.project.task_set.all %}{% if t.pk != task.pk %}<option value="{{ t.pk }}">{{ t.name }}</option>{% endif %}{% endfor %}
            </select>
        </td>
    </tr>
    {% endfor %}
</table>